body {
 margin: 0;
}

canvas {

}

.bg{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('undersea-g31602e935_1280.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slidecontainer {
    width: 450px;
	height: 40px;
	display:flex;
	justify-content: space-around;
	align-items: center;
	background-color:#514F6B;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    background: #A7A5A5;
    outline: none;
}

.slider:hover {
background: #6E6E6E;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
	border: 2px #000 solid;
    background: #3D3D3D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
	border: 2px #000 solid;
    background: #3D3D3D;
    cursor: pointer;
}

#myVol{width: 100px;}