body {
 margin: 0;
}

@font-face {
    font-family: Luckiest_Guy;
    src: url('Alternative Grafiken - Sharkie/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf');
 }

canvas {
    position: relative;
}

.infos {
    margin-top: 5px;
}


.bg{
    
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('undersea-g31602e935_1280.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro{
    /* font-family: Luckiest_Guy; */
    padding-top: 8px;
    padding-left: 30px;
}

.icons {
    height: 30px;
}

.settings2 {
    display: flex;
    width: 720px;
    margin-top: 10px;
    justify-content: flex-start;
}

.startscreen {

    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    width: 720px;
    height: 480px;
    box-sizing: border-box;
    background-image: url('Alternative Grafiken - Sharkie/startscreen.png');
    background-size: cover;
    background-position: center;
}

.buttons{
    display: flex;   
    justify-content: center; 
    gap: 20px;
    margin-bottom: 10px;
    height: 100%;
    align-items: end;
}

.settings{
    display: flex;
    gap: 5px
}

.tipps button{
    height: 30px;
    display: flex;
    margin-right: 5px;
}

.big {
    font-weight: bold;
    width: 200px;
}

.icon{
    height: 75px;
}

.inline{
    display: unset !important;
}

.textbubble {
    text-align: center;
    position: absolute;
    top: 10px;
    left:25px;
    font-weight: bold;
}

.middle{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.button-up{
    padding-left: 53px;
    margin-bottom: 2px;

}

.bubble1{
    margin-top: 5px;
    height: 90px;
    width: 100px;
}

.bubble{
    height: 100px;
    width: 120px;
}

.relativ {
    position: relative;
}
.align{
    display: flex;
    flex-direction: column;
}

.flex-center{
    width: 150px;
    display: flex;
    flex-direction: column;
}

.flex-center2{
    align-items: center;
}

.arrowkeys{
    display: flex;
    flex-direction: column;
    width: 40px;

}

.up-button{
    margin-left:37px;

}

.btn-secondary{
    width: 50px !important;
}





